{% extends 'base.html' %}

{% block content %}
<div class="login-container">
	<h3>아이디로 로그인</h3>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label>아이디</label>
			<input type="text" name="username">
			<label>패스워드</label>
		<input type="password" name="password">
		<button type="submit">로그인</button>
			</div>
	</form>
	<a class='btn-facebook' href="https://www.facebook.com/v2.12/dialog/oauth?client_id=153284692052351&redirect_uri=http://localhost:8000/facebook-login/">페이스북 로그인</a>
</div>
{% endblock %}